.AddCompany {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin-top: 1%;
}

.AddCompany h3 {
    color: rgb(204, 78, 187);
    margin: 5% 0;
}

.AddCompany .Form {
    width: 30vw;
    margin-top: 2%;
    margin-bottom: 20%;
}

input {
    height: 10%;
}

.AddCompany label {
    color: rgb(61, 87, 204);
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-size: larger;
    text-shadow: 0 1px 0 rgba(173, 171, 171, 0.8);
    margin-bottom: 0.5%;
}

.AddCompany .btn-container>button {
    margin-top: 2%;
    width: 40%;
}

.AddCompany .btn-container {
    text-align: center;
}
