.Footer > p {
    position: relative;
    top: 1%;
    font-weight: 300;
    color: whitesmoke;
    font-size: 95%;
    letter-spacing: 0.2em;
    margin: auto;
}

.Footer span {
    font-size: large;
}