.Header img{
	width: 45px;
    height: 45px;
    position: relative;
    bottom: 3px;
    right: 5px;
}

.Header h6 {
    display: inline;
    font-size: larger;
    color: rgb(32, 31, 31);
    font-weight: 500;
}