.Header img{
	width: 45px;
    height: 45px;
    position: relative;
    bottom: 3px;
    right: 5px;
}

.Header h6 {
    display: inline;
    font-size: larger;
    color: rgb(32, 31, 31);
    font-weight: 500;
}

.Header .name {
    text-decoration: none;
    color: rgb(57, 68, 165);
}

.Header .logout {
    text-decoration: none;
    color:rgb(175, 44, 44);
}

.Header .sign-in {
    font-size: 130%;
    position: relative;
    bottom: 1.5px;
    text-decoration: none;
    color: rgb(218, 216, 219);
}

.Header .clock {
    cursor: default;
}

.name:hover {
    color: rgb(208, 205, 209);
}

.logout:hover {
    color:rgb(208, 205, 209);
}

.sign-in:hover {
    color:rgb(62, 206, 62);
}

.Header .BiLogInCircle {
    font-size: larger;
}

.Header #pipe {
    color: black;
    cursor: default;
}

.Header .welcome-msg {
    color: rgb(177, 35, 90);
    cursor: default;
}