.Home {
	
}

.Home h2 {
    color: rgb(195, 65, 119);
    padding-bottom: 0;
}

.Home img {
    min-width: 65vw;
    max-height: 70vh;
    margin: auto;
}

.Home .caption-container {
    background-color: rgb(183, 98, 193, 0.8);
    margin: auto;
    width: 70%;
    border-radius: 1%;
}

.Home h4 {
    color: rgb(169, 213, 241);
}

.Home .description {
    font-size: large;
    color:rgb(238, 231, 231);
    font-family: 'Handlee', cursive;
    font-style: italic;
}

.Home .price {
    font-size: large;
    color:rgb(17, 16, 16);
    background-color: rgb(216, 85, 124, 0.5);
    padding: 0.8%;
}