.Avatar {
	padding: 2%;
    margin: 0px;
    padding: 0px;
}

.Avatar img {
    padding: 0%;
    margin-top: 2%;
    border-radius: 5%;
    max-height: 160px;
    box-shadow: 5px 10px 18px #9b9a9a;
}
