.UpdateCustomer {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin-top: 1%;
}

.UpdateCustomer h2 {
    color: rgb(204, 78, 187);
}

.UpdateCustomer .Form {
    width: 30vw;
    margin-top: 2%;
    margin-bottom: 10%;
}

.form-group {
    margin-bottom: 1.5%;
}

.fa {
    font-size: 22px;
}

input {
    height: 10%;
}

.UpdateCustomer textarea {
    font-family: cursive;
    font-style: italic;
}